*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body{
  background-color:   hsl(212, 45%, 89%);
}
img{
  max-width: 100%;
  border-radius: 5%;
  padding: 5px;

}
.card-component{
    background-color: white;
    border-radius: 5%;
    min-height: 400px;
    width: 300px;
    padding: 10px;
    margin: 10vh auto 0;
  }
  .card-component h1{
text-align: center;
font-size: 20px;
font-weight: 700;
color: hsl(218, 44%, 22%);
padding-bottom: 20px;
  }
  .card-component p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    padding-bottom: 20px;
  }

  .attribution{
    margin-top: auto;
    text-align: center;
    font-size: 11px;
    padding: 12px 0;
    color: hsl(216, 15%, 48%);
  }